@model IEnumerable<SpecialtyServiceModel>
@{
    ViewData["Title"] = "Specialties";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" asp-area="@WebConstants.AdminArea" asp-controller="AdminSpecialties" asp-action="Add">New Specialty</a>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>            
            <th>Doctors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var specialty in Model)
        {
            <tr>
                <th>@specialty.Name</th>                
                <th>
                    <ul class="list-unstyled">
                        @foreach (var doctor in specialty.Doctors)
                        {
                            <li>Dr. @doctor.LastName</li>
                        }
                    </ul>
                </th>
            </tr>
        }
    </tbody>
</table>